.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
!storage/app/public/.gitkeep
database/database.sqlite
tests
.phpunit.result.cache
.editorconfig
.idea
.vscode
README.md
